header {
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-left:hover {
  cursor: pointer;
}

.header-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-right:hover {
  cursor: pointer;
}
