.Header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  padding: 0 16px;
}

.HeaderLeft {
  display: flex;
  align-items: center;
  height: 100%;
}

.HeaderLeft:hover {
  cursor: pointer;
}

.HeaderCenter {
  display: flex;
  align-items: center;
  height: 100%;
}

.HeaderRight {
  display: flex;
  align-items: center;
  height: 100%;
}

.HeaderRight:hover {
  cursor: pointer;
}
