.image-container {
  position: relative;
  height: 600px;
}

.one {
  position: absolute;
  z-index: 1;
}

.two {
  position: absolute;
  z-index: 2;
}

.three {
  position: absolute;
  z-index: 3;
}
