.input-container {
  display: flex;
  flex-direction: column;
}

.input-container + .input-container {
  margin-top: 24px;
}

.upload-label {
  font-size: 16px;
  font-weight: 700;
  color: #9ea7ad;
}

.upload-textarea {
  font-size: 14px;
  font-weight: 500;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #f0f1f3;
  outline: none;
  color: #fff;
  font-size: 14px;
  padding: 12px 0px 0px 0px;
  resize: none;
  overflow: hidden;
}

.upload-image-container {
  margin-top: 16px;
  margin-bottom: 40px;
}

.character-count {
  margin-top: 12px;
  font-size: 12px;
  color: #b8bfc4;
}

.upload-image-select-wrapper {
  display: flex;
}

.upload-image-select-box {
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 72px;
  height: 72px;
  background-color: #9ea7ad;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.upload-image-select-box:hover {
  cursor: pointer;
}

.image-item {
  width: 72px;
  height: 72px;
  position: relative;
}

.image-item + .image-item {
  margin-left: 12px;
}

.image-item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.image-item-image + .image-item-image {
  margin-left: 12px;
}

.image-remove-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  position: absolute;
  top: -10px;
  right: -10px;
  width: 22px;
  height: 22px;

  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 11px;
}

.image-remove-button:hover {
  cursor: pointer;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.upload-tag-container {
  display: flex;
  margin-top: 12px;
}

.upload-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;

  width: 37px;
  height: 24px;

  background: #7bdb2f;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  color: #000;
}

.upload-tag + .upload-tag {
  margin-left: 8px;
}
